* {
    box-sizing:border-box;
}

body{
    padding: 0;
    margin:0;
}

.calc{
    width:400px;
    background-color:black ;
    color:white;
}

.screen{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align:right;
    padding:20px,5px;
    
}
.calc-buttons{
    background-color: rgb(223, 202, 202);
    color:black;
    height:100px;
    width:24.5%;
    border:none;
    border-radius:0;
    font-size:40px;
    cursor:pointer;
}
.calc-buttons:hover{
    background-color: white;
    }
.calc-buttons:active{
    background-color: rgb(117, 114, 114);
}  
.double{
    width=50%
} 
.tripple{
    width=75%
}
.calc-row{
    display:flex;
    align-content:stretch;
    justify-content:space-between;
    margin-bottom:5%;
}
